body {
    margin: 0;
    margin: 0;
    height: 100%;
    position: fixed;
    width: 100%;
}
#container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ffffff;
}

#left {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 50%;
    background-color: #fff;
}

#right {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #b2c3ce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4d0156;
    border-top: 18px solid #24a0dd;
    border-bottom: 18px solid #24a0dd;
    height: 50%;
    padding: 5vh;
}

#buttons {
    display: flex;
   /* justify-content: center; */
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

h1 {
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    font-size: 5vw;
    color: #fff;
    margin: 3vw;
}

input[type=text] {
    width: 50%;
    padding: 1vw 2vh;
    margin-bottom: 3vh;
    box-sizing: border-box;
    color: #4d0156;
}

::placeholder {
    color: #4d0156;
}

.primary {
    text-transform: uppercase;
    font-size: 2.5vw;
    color: #fff;
    font-family: 'Squada One', cursive;
    font-weight: 400;
    padding: 1vh 6vh;
    background-color: #0c78ba;
    text-decoration: none;
    margin: 2vh;
}

.secondary {
    text-transform: uppercase;
    font-size: 2vw;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 1vw 3vw;
    background-color: #4d0156;
    text-decoration: none;
    margin: 2vw;
    flex: 0;
    height: max-content;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4d0156;
    border-top: 18px solid #24a0dd;
    border-bottom: 18px solid #24a0dd;
    height: 10%;
    padding-top: 10vh;
    padding-bottom: 6vh;
    margin-bottom: 4vh;
}
.picker-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    max-height: 50vh;
}
.pickers {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 250px;
}

.picker-type {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.5vw;
    padding: 1vw 3vw;
}

.arrows {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.color-picker {
    padding-left: 60px;
}

input, textarea, keygen, select, button {
    margin-top: 0em;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    font-family: system-ui;
    font-variant-caps: normal;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

.jscolor {
    min-width: 4vw;
    height: 4vw;
}

#nameError {
    display: none;
    font-size: 1.5vw;
    color: #ffffff;
  }
  
  #nameError.visible {
    display: block;
  }
  
  input.invalid {
    border-color: #fff;
  }


  #codeError {
    display: none;
    font-size: 1.5vw;
    color: #ffffff;
  }
  
  #codeError.visible {
    display: block;
  }
  
  input.invalid {
    border-color: #fff;
  }
  
