@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

body {
    background-color: #000000;
    font-size: 60px;
    line-height 60px;
}

a {
    color: #ffffff;
}
p {
    padding-bottom: 15px;
}
h2 {
    font-size: 60px;
}
#header {
    background-color: #ffffff;
    height: 200px;
}
#header .col {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.page-heading {nk
    font-size: 6rem;
    font-family: 'Squada One', cursive;

}
.subheading {
    font-size: 3 rem;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 60px;

}
#content {
    color: #ffffff;
}
img {
    max-width: 100%;
}
#logo {
    padding:40px;
}
.nav-tabs {
    padding-top: 4rem;
    margin-right: 30px;
    margin-left: 30px;

    border-bottom: 0;
    border-right: 3px solid #58a9e0;
}
.nav-tabs .nav-link {
    color: #000000;
    text-align: left;
    border-radius: 0;
}
.nav-tabs .nav-link.active {
    color: #ffffff;
    border-color: #ffffff;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #ffffff;
}
.nav-tabs .nav-link .btn-title {
    color: #ffffff;
    font-weight: 600;
        font-size: 30px;

}
.nav-tabs .nav-link.active .btn-title {
    color: 3;
}
.tab-content {
    padding: 3rem;
}
