body {
    background-color: #000000;
    font-size: 28px;
}
#header {
    background-color: #ffffff;
}
#header .col {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.page-heading {
    font-size: 3.5rem;
}
.subheading {
    font-size: 1.3rem;
    margin-bottom: 0;
}
#content {
    color: #ffffff;
}
img {
    max-width: 100%;
}
.nav-tabs {
    padding-top: 4rem;
    border-bottom: 0;
    border-right: 3px solid lightblue;
}
.nav-tabs .nav-link {
    color: #000000;
    text-align: left;
    border-radius: 0;
}
.nav-tabs .nav-link.active {
    background-color: #lightblue;
    color: #ffffff;
    border-color: #ffffff;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #ffffff;
}
.nav-tabs .nav-link .btn-title {
    color: #ffffff;
    font-weight: 600;
}
.nav-tabs .nav-link.active .btn-title {
    color: 3;
}
.tab-content {
    padding: 3rem;
}
